// Styling for the dividers

.blue .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $midnight 70%, $waterhole 30%) !important;
    }
}

.divider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $pine 70%, $jungle 30%);

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

        h1, h2 {
            text-align: left;
            margin-bottom: 0.8em;
            color: white;
            font-size: 4rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 30%;
            position: absolute;
        }

        h2 {
            font-size: 1em;
            top: 70%;
        }
    }

    @include copyright(white, $pine);
}


.subdivider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            $jungle;

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

        h1, h2 {
            text-align: left;
            margin-bottom: 0.8em;
            color: white;
            font-size: 4rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 30%;
            position: absolute;
        }

        h2 {
            font-size: 1em;
            top: 70%;
        }
    }

    @include copyright(white, $pine);
}


/* divider customization to have an image covering the right-half part of the slide entirely */
#divider, #divider-blue,
#subdivider, #subdivider-blue {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    h1, h2 {
        /* Margin percentages (e.g. 5%) are treated as being relative to the
        containing element's *width*, even the top and bottom margins. */
        margin: $section-top-margin / $aspect-ratio $section-left-margin;
    }

    a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;

        img {
            position: absolute;
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            margin: 0;
            left: auto;
            right: auto;
            border-radius: 0;
            padding-top: 4px;
        }
    }
}