.qrcode {
    .reveal {
        @include no-slide-numbers;
    }
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat;
    }

    img {
        height: 70% !important;
        width: auto !important;
        background-color: white !important;
        padding: 1em;
    }
}

.qrcode, .normal {
    .reveal section {
        .qrcode {
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.normal {
    .reveal section {
        .qrcode {
            img {
                padding: 0;
            }
        }
    }
}
