/// primary colors
$pine:                rgb( 12,  50,  44);
$jungle:              rgb( 48, 186, 120);

/// Secondary colors
$midnight:            #192072;
$waterhole:           #2453FF;

/// Tertiary colors
$mint:                #90EBCD;
$persimon:            #FE7C3F;
$fog:                 #EFEFEF;
